<ion-header>
  <ion-navbar>
    <ion-title text-center><img src="assets/imgs/header-light.png" alt="ISSA"></ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <h2 text-center>Solicitar servicio</h2>
  <ion-card class="blue-card">
    <img src="assets/imgs/juridico.png" alt="Jurídico" (click)="juridico()">
    <h2 text-center (click)="juridico()">Jurídico</h2>
  </ion-card>
  <ion-card class="blue-card">
    <img src="assets/imgs/contable.png" alt="Contable" (click)="contable()">
    <h2 text-center (click)="contable()">Contable</h2>
  </ion-card>
  <h4 text-center text-wrap>Seleccione el tipo de servicio<br>según su necesidad</h4>
</ion-content>
