page-login {
    .login-logo {
        background: url('../assets/imgs/logologin.png') center center no-repeat transparent;
        height: 48vw;
        border: 0;
    }
    .label { color: #777; min-width: 100px;}
    .footer { 
        background: url('../assets/imgs/footer.png') center center no-repeat transparent;
        background-size: cover;
        height: 48vw;
        padding: 4rem;
        margin-top: 40px;
    }

    .toolbar-background, .list > .item-block:first-child, .list-md .item-input:last-child {
        background-color: transparent; 
        border: 0 !important;
    }

    .back-button.show-back-button { 
        color: #eaddfc !important;
    }
}
