<ion-header>

  <ion-navbar>
    <ion-title></ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <div class="login-logo"></div>
    <form>
      <ion-item>
        <ion-label fixed>Usuario</ion-label>
        <ion-input type="text" [(ngModel)]="account.username" name="username"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label fixed>Contraseña</ion-label>
        <ion-input type="password" [(ngModel)]="account.password" name="password"></ion-input>
      </ion-item>
      
    </form>
    
    <div class="footer">
      <button ion-button class="gradient" block round (click)="doLogin()">Entrar</button>
      <button ion-button class="label" clear block (click)="signup()">Registrarse</button>
    </div>
  </ion-list>
</ion-content>
