page-profile {
    .fixed-content {
        background: url('../assets/imgs/background.png') center center no-repeat;
        background-size: cover;
        height: 100%;
        z-index: 1;
        margin-top: 0px !important;
    }

    .toolbar-background { 
        background-color: transparent; 
        border: 0 !important;
    }

    .back-button.show-back-button { 
        color: #eaddfc !important;
    }

    .label {
        color: #888;
        line-height: 4rem;
    }
    .list {
        border-bottom-right-radius: 20px;
    }

    .name {
        font-size: 2.8rem;
        position: absolute;
        color: #fff;
        font-weight: bold;
        margin-top: -55px;
        margin-left: 4rem;
    }
    .lateral {
        background: url('../assets/imgs/lateral.png') left center no-repeat;
        background-size: contain;
        position: absolute;
        width: 8.4vh;
        height: 60vh;
        margin-top: 7vh;
        right: -4.2vh;
        z-index: 2;
    }

    .profile-picture img {
        margin-top: 2vh;
        max-width: 85vw;
        border-top-right-radius: 20px;
    }
    
    .profile-action {
        background-color: #fff;
        position: relative;
        max-width: 85vw;
        margin-top: -10px;
        //top: 3vh;
        //left: 6vh;
    }

}
