<ion-header>
    <ion-navbar>
      <ion-title text-center><img src="assets/imgs/header-light.png" alt="ISSA"></ion-title>
    </ion-navbar>
  </ion-header>
  <ion-content scroll="false">
    <div class="lateral"></div>
    <div class="profile-picture">
      <img src="assets/imgs/perfil.png" alt="">
      <div class="name">Andrea Martínez</div>
    </div>
    <ion-list padding no-lines class="profile-action">
      <button ion-item (click)="closedCases()" icon-start><ion-icon name="basket"></ion-icon>Casos cerrados</button>
      <button ion-item (click)="editProfile()" icon-start><ion-icon name="person"></ion-icon>Editar perfil</button>
      <button ion-item (click)="settings()" icon-start><ion-icon name="settings"></ion-icon>Configuración</button>
      <button ion-item (click)="logout()" icon-start><ion-icon name="power"></ion-icon>Cerrar sesión</button>
    </ion-list>
  </ion-content>
  