<ion-header>
  <ion-navbar>
    <ion-title text-center></ion-title>
  </ion-navbar>
</ion-header>
<ion-content scroll="false">
  <div class="splash-bg"></div>
  <div class="splash-info">
    <div class="splash-video"></div>
  </div>
  <div class="splash-action">
    <button ion-button block clear (click)="signup()" class="info">Registrarse</button>
  </div>
  <div class="splash-footer"></div>
</ion-content>
