page-what-is {
  .fixed-content {
    background: url('../assets/imgs/background.png') center center no-repeat;
    background-size: cover;
    height: 100%;
    z-index: 1;
    margin-top: 0px !important;
  }
  .splash-info {
    position: relative;
    z-index: 2;
    margin: 0px 0 110px 0;
    height: 40vh;
    text-align: center;
  }

  .splash-video {
    margin: auto;
    background: url('../assets/imgs/youtube.png') no-repeat transparent;
    background-size: 100%;
    width: 100%;
    height: 56vw;
    top: 0px;
  }
  button.info {
    background-color: transparent;
    color: #eaddfc;
  }
  .splash-footer {
    background: url('../assets/imgs/footer.png') no-repeat transparent;
    background-size: cover;
    height: 48vw;
    bottom: 0px;
    position: relative;
  }

  .toolbar-background { 
    background-color: transparent; 
    border: 0 !important;
  }

  .back-button.show-back-button { 
    color: #eaddfc !important;
  }
}
