<ion-header>
  <ion-navbar>
    <ion-title text-center><img src="assets/imgs/header-light.png" alt="ISSA"></ion-title>
  </ion-navbar>
</ion-header>
<ion-content scroll="false">
  <div class="lateral"></div>
  <h2 text-center>Contáctenos</h2>
  <ion-grid padding>
      <ion-row>
      <ion-col col-3 text-center><img src="assets/imgs/contact1.png"></ion-col>
      <ion-col col-9 class="middle"><h4>031-3598078</h4></ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-3 text-center><img src="assets/imgs/contact2.png"></ion-col>
      <ion-col col-9 class="middle"r><h4 class>031-3598078</h4></ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-3 text-center><img src="assets/imgs/contact3.png"></ion-col>
      <ion-col col-9 class="middle"><h6>info@issacolombia.com</h6></ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-3 offset-3><img src="assets/imgs/social1.png"></ion-col>
      <ion-col col-3><img src="assets/imgs/social2.png"></ion-col>
      <ion-col col-3><img src="assets/imgs/social3.png"></ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-3 offset-3><img src="assets/imgs/social4.png"></ion-col>
      <ion-col col-3><img src="assets/imgs/social5.png"></ion-col>
      <ion-col col-3><img src="assets/imgs/social6.png"></ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-9 offset-3><h6 text-center class="url">www.issacolombia.com</h6></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
