page-contact {
    .fixed-content {
        background: url('../assets/imgs/background.png') center center no-repeat;
        background-size: cover;
        height: 100%;
        z-index: 1;
        margin-top: 0px !important;
    }

    .toolbar-background { 
        background-color: transparent; 
        border: 0 !important;
    }

    .back-button.show-back-button, h2, h4, h6 { 
        color: #eaddfc !important;
    }

    .middle h4 { padding-top: 1rem; }
    .middle h6 { padding-top: 1.2rem; }

    .label {
        color: #888;
        line-height: 2.4rem;
    }
    .grid {
        padding-left: 5vw !important;
        padding-right: 10vw !important;
    }

    .grid img { max-width: 12vw;}
    .lateral {
        background: url('../assets/imgs/lateral.png') left center no-repeat;
        background-size: contain;
        position: absolute;
        width: 8.4vh;
        height: 60vh;
        margin-top: 7vh;
        right: -4.2vh;
        z-index: 2;
    }

    .url { padding-right: 8vw; }
}
