<ion-header>
  <ion-navbar hideBackButton="true">
    <ion-title text-center><img src="assets/imgs/header-light.png" alt="ISSA"></ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="profile()">
        <ion-icon name="contact"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content scroll="false">
  <div class="lateral"></div>
  <ion-list class="home-action" no-lines>
    <ion-item (click)="services()" class="home1">Solicitar servicios</ion-item>
    <ion-item (click)="cases()" class="home2">Casos abiertos</ion-item>
    <ion-item (click)="faqs()" class="home3">Preguntas frecuentes</ion-item>
    <ion-item (click)="contact()" class="home4">Contáctenos</ion-item>
  </ion-list>
</ion-content>
