page-home {
    .fixed-content {
        background: url('../assets/imgs/background.png') center center no-repeat;
        background-size: cover;
        height: 100%;
        z-index: 1;
        margin-top: 0px !important;
    }

    .toolbar-background { 
        background-color: transparent; 
        border: 0 !important;
    }

    .toolbar-title-md {
        padding: 0 12px 0 56px !important;
    }

    .back-button.show-back-button { 
        color: #eaddfc !important;
    }

    .splash-info {
        position: relative;
        z-index: 2;
        margin-top: 0;
        height: 30px;
        text-align: center;
    }

    .lateral {
        background: url('../assets/imgs/lateral.png') left center no-repeat;
        background-size: contain;
        height: 60vh;
        margin-top: 7vh;
        margin-left: -4.2vh;
        z-index: 2;
    }

    .item-inner, .item { border: 0 !important; }
    .home-action {
        position: absolute;
        top: 3vh;
        left: 6vh;
    }
    
    .home-action .button-inner {
        font-size: 4vw;
        text-align: left;
        padding-left: 14vh; 
    }

    button.bar-button {
        background-color: transparent;
        color: #eaddfc;
    }

    .home1, .home2, .home3, .home4 {
        background-color: transparent;
        color: #eaddfc;
        text-align: left;
        padding-left: 16vh;
        height: 16vh;
        font-size: 2rem;
        background-position-x: 0 !important;
        background-position-y: center !important;
        background-size: 14vh !important;
    }

    .home1 {
        background: url('../assets/imgs/home1.png') no-repeat transparent;
    }

    .home2 {
        background: url('../assets/imgs/home2.png') no-repeat transparent;
    }

    .home3 {
        background: url('../assets/imgs/home3.png') no-repeat transparent;
    }

    .home4 {
        background: url('../assets/imgs/home4.png') no-repeat transparent;
    }
}
