<ion-header>
  <ion-navbar>
    <ion-title text-center><img src="assets/imgs/header.png" alt="ISSA"></ion-title>
    <!--ion-buttons end>
      <button ion-button icon-only (click)="goHome()">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons-->
  </ion-navbar>
</ion-header>
<ion-content padding>
  <h2 class="fucsia" text-center><img src="assets/imgs/cases-icon.png"> Casos {{ title }}</h2>
  <ion-segment [(ngModel)]="type" vertical-padding (ionChange)="changeType($event.value)">
    <ion-segment-button value="J"><img [src]="selectImage('juridical')"><span>Jurídicos</span></ion-segment-button>
    <ion-segment-button value="C"><img [src]="selectImage('accounting')"><span>Contables</span></ion-segment-button>
  </ion-segment>
  <ion-list>
    <button ion-item *ngFor="let case of cases" (click)="detail(case)">
      <h4>Caso No. {{ case.type }}-{{ case.number }}</h4>
      <h2><strong>{{ case.subject }}</strong></h2>
      <h4>{{ position() }}: {{ case.assigned }}</h4>
      <ion-row>
        <ion-col col-8><h6>Abierto: {{ case.open | date: 'dd/MM/yy' }}</h6></ion-col>
        <ion-col col-4 class="mw140">
          <ion-badge color="danger" *ngIf="case.unreads && status==='open'">{{ case.unreads }}</ion-badge>
          <div class="unreads" *ngIf="case.unreads && status==='open'">Respuesta<br>no leida</div>
        </ion-col>
      </ion-row>
      <ion-row>
          <ion-col col-8><h6>Modificado: {{ case.updated | date: 'dd/MM/yy' }}</h6></ion-col>
        </ion-row>
      </button>
  </ion-list>
</ion-content>
