page-cases {
    .row, .col { margin: 0 !important; padding: 2px 0 !important; }
    .fixed-content {
        background: url('../assets/imgs/background-light.png') center center no-repeat;
        background-size: cover;
        height: 100%;
        z-index: 1;
        margin-top: 0px !important;
    }
    .list {
        margin-bottom: 40px;
    }

    .toolbar-background { 
        background-color: transparent; 
        border: 0 !important;
    }

    .back-button.show-back-button, button.bar-button { 
        color: #eaddfc !important;
    }

    .item { background-color: #aa55ff; color: #d9c0fe; }
    .fucsia { color: #aa55ff; }
    .segment-button { height: 4.8rem !important; }
    .segment-md { margin-bottom: 1px; }
    .segment-md .segment-activated { border-bottom-width: 5px; }
    .segment-md .segment-button.segment-activated  { background-color: #aa55ff; color: #d9c0fe; border-top-left-radius: 5px; border-top-right-radius: 5px; }
    .segment-button img { margin: 10px 10px -4px 10px; width: 24px; }
    .segment-button span { font-size: 1.8rem ; }
    .fucsia img { margin-bottom: -4px; width: 24px; margin-right: 8px; }
    .unreads { background-color: #ff0000; color: #ffffff; height: 24px; border-radius: 12px; width: 90px; text-align: center; font-size: 1rem; position: absolute; margin-top: -6.5px; right: 0px; padding-left: 30px;}
    .badge { margin-top: -4px; right: 60px; position: absolute; z-index: 3;}
}
