page-case-photo {
    .row, .col { margin: 0 !important; padding: 2px 0 !important; }
    .fixed-content {
        background: url('../assets/imgs/background-light.png') center center no-repeat;
        background-size: cover;
        height: 100%;
        z-index: 1;
        margin-top: 0px !important;
    }
    p, h2, h4, h6, .item {
        color: #888;
    }
    .item { padding: 0;}

    .contenido {
        text-align: center;
        min-height: 48vh;
    }
    .header .toolbar-background { 
        background-color: transparent; 
        border: 0 !important;
    }

    .back-button.show-back-button, button.bar-button { 
        color: #eaddfc !important;
    }
    .left-icon { float: right; width: 24px; }
    .right90 {
        position: absolute;
        margin-top: -8px;
        float: right;
        left: 90%;
        z-index: 3;
    }

    .label[stacked] { font-size: 1.6rem; }

    .fucsia { color: #aa55ff; }

    .fucsia img { margin-bottom: -4px; width: 24px; margin-right: 8px; }
    .unreads { background-color: #ff0000; color: #ffffff; height: 24px; border-radius: 12px; width: 90px; text-align: center; font-size: 1rem; position: absolute; margin-top: -6.5px; right: 0px; padding-left: 30px;}
    .badge { margin-top: -4px; right: 60px; position: absolute; z-index: 3;}
    h6.fucsia { margin-top: 0;}
    .notification {
        right: 10px;
        position: absolute;
        margin-top: -30px;
    }
    .right { float: right; }
}
