<ion-header>
  <ion-navbar>
    <ion-title text-center><img src="assets/imgs/header-light.png" alt="ISSA"></ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <h2 text-center>Preguntas Frecuentes</h2>
  <ion-list>
    <ion-item *ngFor="let faq of faqs">
      <h2 text-wrap>{{ faq.q }}</h2>
      <ion-icon name="arrow-down" item-end (click)="faq.expanded = true" *ngIf="!faq.expanded"></ion-icon>
      <ion-icon name="arrow-up" item-end (click)="faq.expanded = false" *ngIf="faq.expanded"></ion-icon>
      <p *ngIf="faq.expanded" text-wrap>{{ faq.a }}</p>
    </ion-item>
  </ion-list>
</ion-content>