page-faqs {
    .fixed-content {
        background: url('../assets/imgs/background.png') center center no-repeat;
        background-size: cover;
        height: 100%;
        z-index: 1;
        margin-top: 0px !important;
    }

    .toolbar-background { 
        background-color: transparent; 
        border: 0 !important;
    }
    
    .back-button.show-back-button, h2, p { 
        color: #eaddfc !important;
    }
    
    .item {
        background-color: transparent; 
    }
}
