<ion-header>
  <ion-navbar>
    <ion-title text-center><img src="assets/imgs/header-light.png" alt="ISSA"></ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="goHome()">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-card class="blue-card">
    <div class="logo">
      <img src="assets/imgs/juridico.png">
    </div>
    <h2 text-center padding>Su caso ha sido creado<br>satisfactoriamente</h2>
    <h4 text-center padding>En breve recibirá respuesta<br>de uno de nuestros asesores<br>legales profesionales</h4>
    <div class="check">
      <img src="assets/imgs/check.png" class="check">
    </div>
    <button ion-button clear block class="view" (click)="viewOpen()">Ver casos abiertos</button>
  </ion-card>
</ion-content>
