page-welcome {
  .fixed-content {
    background: url('../assets/imgs/background.png') center center no-repeat;
    background-size: cover;
    height: 100%;
    z-index: 1;
  }
  .splash-info {
    position: relative;
    z-index: 2;
    margin-top: 164px;
    height: 36vh;
    text-align: center;
  }

  .splash-logo {
    margin: auto;
    background: url('../assets/imgs/logo.png') no-repeat transparent;
    background-size: 100%;
    width: 150px;
    height: 45px;
  }
  button.info {
    background-color: transparent;
    color: #eaddfc;
  }
}
