<ion-content scroll="false">
  <div class="splash-bg"></div>
  <div class="splash-info" (click)="login()">
    <div class="splash-logo"></div>
  </div>
  <div class="splash-action">
    <button ion-button block clear (click)="info()" class="info" icon-start><ion-icon name="help-circle"></ion-icon>¿Qué es ISSA?</button>
  </div>
</ion-content>
