<ion-header>
  <ion-navbar>
    <ion-title text-center><img src="assets/imgs/header.png" alt="ISSA"></ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <h2 class="fucsia" text-center><img [src]="selectImage(caso.type)"> Caso No. {{ caso.type }}-{{ caso.number }}</h2>
  <h6 class="fucsia" text-center>{{ (caso.type==='J')? 'Jurídico':'Contable' }}</h6>
  <h2>{{ caso.subject }}</h2>
  <ion-list>
    <ion-item *ngIf="caso.type==='J'">Contra: <strong>{{ caso.against }}</strong></ion-item>
    <ion-item>      
      <p>{{ position() }}: {{ caso.assigned }}<br>
      Abierto: {{ caso.open | date: 'dd/MM/yyyy' }}<br>
      Último cambio: {{ caso.updated | date: 'dd/MM/yyyy' }}</p>
      <div class="notification" *ngIf="caso.unreads">
        <ion-badge color="danger">{{ caso.unreads }}</ion-badge>
        <div class="unreads">Respuesta<br>no leida</div>
      </div>
    </ion-item>
    <ion-item class="contenido">
      <h2 text-center>Agregar nuevo audio</h2>
      <img src="assets/imgs/grabar.png" (click)="recordAudio()"><br>
      <button ion-button class="gradient" round (click)="recordAudio()">Grabar audio</button>
      <h4 text-center>max. 3 min</h4>
    </ion-item>
    <div padding>
      <button ion-button class="gradient" block round (click)="addAudio()">Agregar audio</button>
    </div>
  </ion-list>
</ion-content>
