page-case {
    .row, .col { margin: 0 !important; padding: 2px 0 !important; }
    .fixed-content {
        background: url('../assets/imgs/background-light.png') center center no-repeat;
        background-size: cover;
        height: 100%;
        z-index: 1;
        margin-top: 0px !important;
    }
    p, h2, h6, .item {
        color: #888;
    }
    .list {
        margin-bottom: 40px;
    }
    .item { padding: 0;}

    .header .toolbar-background { 
        background-color: transparent; 
        border: 0 !important;
    }

    .footer .toolbar-background { 
        background: linear-gradient(45deg, #584bdd, #aa55ff);; 
        border: 0 !important;
    }

    .footer .bar-buttons {
        height: 75px;
    }

    .footer .bar-button {
        padding: 0;
        min-width: 18vw !important;
    }

    .footer .bar-buttons .icon {
        margin-top: 1rem;
    }

    .etiqueta {
        position: absolute;
        bottom: -2.8rem;
    }

    .back-button.show-back-button, button.bar-button { 
        color: #eaddfc !important;
    }

    .fucsia { color: #aa55ff; }

    .fucsia img { margin-bottom: -4px; width: 24px; margin-right: 8px; }
    .unreads { background-color: #ff0000; color: #ffffff; height: 24px; border-radius: 12px; width: 90px; text-align: center; font-size: 1rem; position: absolute; margin-top: -6.5px; right: 0px; padding-left: 30px;}
    .badge { margin-top: -4px; right: 60px; position: absolute; z-index: 3;}
    h6.fucsia { margin-top: 0;}
    .notification {
        right: 10px;
        position: absolute;
        margin-top: -30px;
    }
    .contenido {
        border: 1px solid #888;
        border-radius: 10px;
        padding: 10px 20px;
        margin-left: 12px;
    }
    .item .icon {
        font-size: 3.4rem;
        margin-bottom: -24px;
        position: absolute;
    }
    .right { float: right; }
}
