<ion-header>
  <ion-navbar>
    <ion-title text-center><img src="assets/imgs/header.png" alt="ISSA"></ion-title>
    <!--ion-buttons end>
      <button ion-button icon-only (click)="goHome()">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons-->
  </ion-navbar>
</ion-header>
<ion-content padding>
  <h2 class="fucsia" text-center><img [src]="selectImage(caso.type)"> Caso No. {{ caso.type }}-{{ caso.number }}</h2>
  <h6 class="fucsia" text-center>{{ (caso.type==='J')? 'Jurídico':'Contable' }}{{ (status==='closed')? ' - Caso cerrado':'' }}</h6>
  <h2>{{ caso.subject }}</h2>
  <ion-list>
    <ion-item *ngIf="caso.type==='J'">Contra: <strong>{{ caso.against }}</strong></ion-item>
    <ion-item>      
      <p>{{ position() }}: {{ caso.assigned }}<br>
      Abierto: {{ caso.open | date: 'dd/MM/yyyy' }}<br>
      Último cambio: {{ caso.updated | date: 'dd/MM/yyyy' }}</p>
      <div class="notification" *ngIf="caso.unreads && status==='open'">
        <ion-badge color="danger">{{ caso.unreads }}</ion-badge>
        <div class="unreads">Respuesta<br>no leida</div>
      </div>
    </ion-item>
    <ion-item *ngFor="let message of messages">
      <ion-row>
        <ion-col col-1><ion-icon name="add-circle" *ngIf="!message.expanded" (click)="changeView(message)"></ion-icon><ion-icon name="remove-circle" *ngIf="message.expanded" (click)="changeView(message)"></ion-icon></ion-col>
        <ion-col col-11><h2>{{ message.title }} <span class="right">{{ message.date | date:'dd/MM/yyyy' }}</span></h2></ion-col>
      </ion-row>
      <div class="contenido" [innerHtml]="viewContent(message)" text-wrap></div>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer *ngIf="status==='open'">
  <ion-toolbar>
    <ion-buttons>
      <button ion-button icon-only (click)="agregarAdjunto()">
        <ion-icon name="attach"></ion-icon>
        <div class="etiqueta">Adjunto</div>
      </button>
      <button ion-button icon-only (click)="agregarAudio()">
        <ion-icon name="microphone"></ion-icon>
        <div class="etiqueta">Audio</div>
      </button>
      <button ion-button icon-only (click)="agregarFoto()">
        <ion-icon name="camera"></ion-icon>
        <div class="etiqueta">Foto</div>
      </button>
      <button ion-button icon-only (click)="agregarPregunta()">
        <ion-icon name="help-circle"></ion-icon>
        <div class="etiqueta">Pregunta</div>
      </button>
      <button ion-button icon-only class="right" (click)="cerrarCaso()">
        <ion-icon name="lock" color="danger"></ion-icon>
        <div class="etiqueta right">Cerrar</div>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>