page-ok-accounting {
    .fixed-content {
        background: url('../assets/imgs/background.png') center center no-repeat;
        background-size: cover;
        height: 100%;
        z-index: 1;
        margin-top: 0px !important;
    }

    .toolbar-background { 
        background-color: transparent; 
        border: 0 !important;
    }

    .back-button.show-back-button, .blue-card, h2, h4, .view { 
        color: #eaddfc !important;
    }

    button.bar-button {
        background-color: transparent;
        color: #eaddfc;
    }

    .blue-card {
        background-color: #3800bf;
        border-radius: 2rem;
        padding: 2rem;
    }
        
    .blue-card img {
        max-width: 44vw;
        margin: auto;
    }

    .logo { margin: 40px auto; width: 140px;}
    .check { margin: 20px auto; width: 72px;}
}
