<ion-header>
  <ion-navbar>
    <ion-title text-center><img src="assets/imgs/header.png" alt="ISSA"></ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <form (submit)="doSignup()">
      <ion-item>
        <ion-label fixed>Nombres</ion-label>
        <ion-input type="text" [(ngModel)]="account.firstname" name="firstname"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label fixed>Apellidos</ion-label>
        <ion-input type="text" [(ngModel)]="account.lastname" name="lastname"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label fixed>email</ion-label>
        <ion-input type="email" [(ngModel)]="account.email" name="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label fixed>Teléfono</ion-label>
        <ion-input type="tel" [(ngModel)]="account.phone" name="phone"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label fixed>Dirección</ion-label>
        <ion-input type="text" [(ngModel)]="account.address1" name="address1"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label fixed></ion-label>
        <ion-input type="text" [(ngModel)]="account.address2" name="address2"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label fixed>Ciudad</ion-label>
        <ion-input type="text" [(ngModel)]="account.city" name="city"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label fixed>Departamento</ion-label>
        <ion-input type="text" [(ngModel)]="account.state" name="state"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label fixed>Municipio</ion-label>
        <ion-input type="text" [(ngModel)]="account.county" name="county"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label fixed>Código postal</ion-label>
        <ion-input type="text" [(ngModel)]="account.zip" name="zip"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label fixed>Fecha nacimiento</ion-label>
        <ion-datetime [(ngModel)]="account.borndate" name="borndate"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label fixed>Género</ion-label>
        <ion-select [(ngModel)]="account.gender" name="gender">
          <ion-option value="F">Femenino</ion-option>
          <ion-option value="M">Masculino</ion-option>
        </ion-select>
      </ion-item>
    </form>
    <div class="footer">
      <button ion-button class="gradient" block round (click)="doSignup()">Registrarse</button>
      <button ion-button class="label" clear block (click)="doLogin()">¿Tienes cuenta? Acceder</button>
    </div>
  </ion-list>
</ion-content>