page-signup {

    .header .toolbar-background { 
        background-color: transparent; 
        border: 0 !important;
    }

    .label { color: #777; min-width: 140px;}
    .footer { 
        background: url('../assets/imgs/footer.png') no-repeat transparent;
        background-size: cover;
        height: 48vw;
        padding: 4rem;
    }
}
