page-new-accounting {
    .fixed-content {
        background: url('../assets/imgs/background-light.png') center center no-repeat;
        background-size: cover;
        height: 100%;
        z-index: 1;
        margin-top: 0px !important;
    }

    .toolbar-background { 
        background-color: transparent; 
        border: 0 !important;
    }

    .back-button.show-back-button, button.bar-button { 
        color: #eaddfc !important;
    }

    .textarea { 
        resize: none;
        overflow-y: scroll;
    }
    ::-webkit-scrollbar-thumb {
        -webkit-border-radius: 10px;
        border-radius: 10px;
        background: #aa55ff; 
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    }
    .left-icon { float: right; width: 24px; }
    .right90 {
        position: absolute;
        float: right;
        left: 90%;
        z-index: 3;
    }

    .label[stacked] { font-size: 1.6rem; }
    .fucsia { color: #aa55ff; }
    .fucsia img { margin-bottom: -8px; width: 36px; margin-right: 8px; }
}
