<ion-header>
    <ion-navbar>
      <ion-title text-center><img src="assets/imgs/header.png" alt="ISSA"></ion-title>
      <ion-buttons end>
        <button ion-button icon-only (click)="goHome()">
          <ion-icon name="menu"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>
  <ion-content padding>
    <h2 class="fucsia" text-center><img src="assets/imgs/accounting-icon.png"> Nuevo Caso Contable</h2>
    <ion-list>
        <ion-item>
          <ion-label fixed>Fecha<img src="assets/imgs/calendar-icon.png" class="left-icon right90"></ion-label>
          <ion-datetime [(ngModel)]="case.date" name="date"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label fixed>Caso</ion-label>
          <ion-input type="text" [(ngModel)]="case.number" name="number"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label fixed>Contra</ion-label>
          <ion-input type="text" [(ngModel)]="case.counterpath" name="counterpath"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label fixed>Título</ion-label>
          <ion-input type="text" [(ngModel)]="case.title" name="title"></ion-input>
        </ion-item>
        <div class="right90" padding-right padding-top><img src="assets/imgs/audio-icon.png" class="left-icon" (click)="addAudio()"></div>
        <ion-item>
          <ion-label stacked>Descripción del caso</ion-label>
          <ion-textarea type="text" rows="12" [(ngModel)]="case.description" name="description"></ion-textarea>
        </ion-item>
      <div padding>
        <button ion-button class="gradient" block round (click)="doCase()">Crear caso</button>
      </div>
    
    </ion-list>
  </ion-content>
  